*{
    /* font-family: 'Noto Sans KR', sans-serif; */
    
    padding: 0px;
    margin: 0px;
    color: white;
    list-style: none;
    text-decoration: none;
    border-collapse: none;
    font-family: 'HSSaemaul-Regular';
    font-size: 25px;
    /* font-family: 'BMDOHYEON'; */

}

@font-face {
    font-family: 'HSSaemaul-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSSaemaul-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}

body{
    width: 100%;
}
/* 공통사항 */

.intro_bg{
    background: skyblue;
    height: 580px;
    width: 100%;
    background-size: cover;
    background-image:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("images/main.jpg");
}

.header{
    width: 100%;
    align-items: center;
    text-align: center;
    /* margin: auto; */
    display: flex;
    /* background: red; */
    height: 80px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}



/* .header>div{
    
    line-height: 80px;
    flex: 1;
} */
.header_page_name{
    line-height: 80px;
    flex-basis: 15%;
}

.header>div>h1>a:hover{
    cursor: pointer;
}

.header>div>h1>a{
    font-size: 35px;
    font-weight: lighter;
}

.audio{
    text-align: center;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-basis: 38%;
}

.audio>audio{
    width: 250px;
    justify-content: left;
}

.audio_discription{
    padding-left: 30px;
    line-height: 80px;
    text-align: center;
}

.audio_discription.active_Text{
    color: black;
}

.nav{
    display: flex;
    width: calc(1280px - 300px);
    justify-content: flex-end;
    font-weight:600;
    /* background: green; */
    justify-content: center;
    flex-basis: 37%;
}

.nav>li{
    margin-left: 80px;
    /* line-height: 80px; */
    font-size: 25px;
    font-weight: lighter;
    /* background: pink; */
}
.nav>li:hover{
    border-bottom: 3px solid;
    cursor: pointer;
}

.header.active{
    background-color: white;
    border-bottom: 2px solid gray;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    color: black;
    /* -webkit-transition-duration:0.4s; */
    /* -webkit-transition-timing-function:ease; */
}
  
.header.deactive{
    background-color: transparent;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    
    /* -webkit-transition-duration:0.4s; */
    /* -webkit-transition-timing-function:ease; */
}
.active_Text{
    color: black;
}

.navbar_toggleBtn{
    display: none;
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
}





/* .navbar_toogleBtn>i{
    font-size: 50px;
} */
/* 헤더끝 */

.intro_main{
    padding-top: 200px;
    margin: auto;
    /* margin: 100px auto 50px auto; */
    width: 100%;
    /* background: green; */
    text-align: center;
    font-family: 'BMDOHYEON';
    /* background: green; */

}

.intro_main>h1{
    font-family: 'BMDOHYEON';
    font-size: 50px;
}

.intro_description{
    /* background: pink; */
    width: 100%;
    text-align: center;
    margin: auto;
}




/* 메인 끝 */
.about_me_bg{
    height: 550px;
    width: 100%;
}

.about_me_main{
    font-size: 90px;
    text-decoration:underline 2px;
    text-underline-offset: 20px;
    padding: 50px 0px 40px 0px;
    color: black;
    width: 100%;
    text-align: center;
}
.about_me_line{
    margin: auto;
    width: 1280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    padding-left: 100px;
}

.about_me_line>li{
    /* flex: 1; */
    display: flex;
    width: 340px;
    margin: 15px;
}

.about_me_img{
    width: 80px;
    height: 80px;
    object-fit: none; 
}

.about_me_img > img{
    width: 100%;
    height: 100%;
}

.about_me_text{
    height: 80px;
    padding-left: 20px;
    text-align: left;
    line-height: 40px;
    color: black;
    font-weight:lighter;
}
.about_me_text>h3{
    color: black;
}
.about_me_text>.sub{
    line-height: 20px;
    color: black;
}

/* about_me 끝 */

.skills{
    width: 100%;
    height: 700px;
    background: #f9c51d;
}
.skills_main{
    padding-top: 50px;
    margin: auto;
    text-align: center;
    font-size: 90px;
    text-decoration:underline 2px;
    text-underline-offset: 20px;
}
.item_container{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 80px;
    justify-content: space-between;
}

.item_container>div{
    width: 250px;
    /* height: 400px; */
}

.item{
    font-size: 30px;
    text-align: center;
}
.item >div{
    overflow: hidden;
    border-radius: 10%;
    height: 100%;
    width: 100%;
}

.item_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.7s ease-in-out;
}
.item_img:hover{
    transform: scale(1.2);
}

/* skills 끝 */
.end_section{
    width: 100%;
    height: 200px;
    background: #bb9696;
    text-align: center;
    position: relative;
}

.logo{
    display: flex;
    height: 50px;
    padding-top: 70px;
}
.logo>div{
    margin:auto;
    width: 1280px;
}

.logo>div>a>img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    padding-inline: 10px;
}

.logo>div>a:last-child>img{
    height: 45px;
    object-fit: cover;
}

.copyright{
    padding-top: 20px;
    font-weight: lighter;
}

.copyright > span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.go_up{
    display: none;
    opacity: 0;
    position: fixed;
    bottom: 30px;
    right: 80px;
    width: 50px;
    height: 50px;
    border: solid 2px rgb(51, 47, 47);
    border-radius: 5px;
    background: yellowgreen;
    /* transition: all 2s;
    transition-property: disple; */
}

.go_up.active{
    display: block;
    animation: fade-in 1s;
    animation-fill-mode: both;
}

.go_up.deactive{
    display: block;
    animation: fade-out 1s;
    animation-fill-mode: both;
    pointer-events: none;
}

@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fade-out{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.go_up>img{
    padding-top: 3px;
    width: 30px;
    object-fit: contain;
}

.go_up:hover{
    cursor: pointer;
}

@media (max-width: 480px){
    .header{
        flex-direction: column;
        align-items: flex-start;
        background: white;
        /* border-bottom: none; */
    }
    .page_name{
        padding-left: 10px;
        color: black;
    }
    .audio{
        width: 100%;
        background: white;
        justify-content: center;
        display: none;
        margin-top: -2.5px;
    }
    .audio>audio{
        width: 50%;
    }
    .audio_discription{
        color: black;
        font-size: 20px;
        line-height: 20px;
    }
    .nav{
        margin-top: -2.5px;
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background: white;
    }
    .nav>li{
        margin-left: 0px;
        border: none;
    }
    .nav_click{
        color: black;
    }
    .header.active{
        background-color: white;
        border: white;
        transition-duration: initial;
        transition-timing-function: initial;
        color: initial;
        /* -webkit-transition-duration:0.4s; */
        /* -webkit-transition-timing-function:ease; */
    }
      
    .header.deactive{
        background-color: white;
        transition-duration: initial;
        /* border-bottom: none; */
        transition-timing-function: initial;
        
        /* -webkit-transition-duration:0.4s; */
        /* -webkit-transition-timing-function:ease; */
    }
    .navbar_toggleBtn{
        display: block;
        color: black;
    }

    .navbar_toggleBtn>i{
        color: black;
    }

    .nav.active{
        display: flex;
        animation: fade-in 1s;
    }

    .audio.active{
        display: flex;
    }
    .intro_main{
        margin-bottom: 20px;
    }
    .intro_main>h1{
        font-size: 40px;
    }
    .about_me_bg{
        height: auto;
    }
    .about_me_line{
        width: auto;
        height: auto;
        padding: 20px;
    }
    .about_me_line>li{
        display: flex;
        width: 80%;
        margin: 15px;
    }
    .skills{
        width: auto;
        height: auto;
    }
    .skills_main{
        font-size: 65px;
    }
    .item_container{
        width: 100%;
        justify-content: space-around;
        padding-bottom: 30px;
    }
    .item{
        padding: 30px;
    }

    .go_up{
        right: 20px;
        bottom: 20px;
    }
}

@media screen and (min-width:480px) and (max-width: 767px){
    .header{
        flex-direction: column;
        align-items: flex-start;
        background: white;
        /* border-bottom: none; */
    }
    .page_name{
        padding-left: 10px;
        color: black;
    }
    .audio{
        width: 100%;
        background: white;
        justify-content: center;
        display: none;
        margin-top: -2.5px;
    }
   
    .audio_discription{
        color: black;
    }
    .nav{
        margin-top: -2.5px;
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background: white;
    }
    .nav>li{
        margin-left: 0px;
        border: none;
    }
    .nav_click{
        color: black;
    }
    .header.active{
        background-color: white;
        border: white;
        transition-duration: initial;
        transition-timing-function: initial;
        color: initial;
        /* -webkit-transition-duration:0.4s; */
        /* -webkit-transition-timing-function:ease; */
    }
      
    .header.deactive{
        background-color: white;
        transition-duration: initial;
        /* border-bottom: none; */
        transition-timing-function: initial;
        
        /* -webkit-transition-duration:0.4s; */
        /* -webkit-transition-timing-function:ease; */
    }
    .navbar_toggleBtn{
        display: block;
        color: black;
    }

    .navbar_toggleBtn>i{
        color: black;
    }

    .nav.active{
        display: flex;
        animation: fade-in 1s;
    }

    .audio.active{
        display: flex;
    }

    .about_me_line{
        width: 620px;
    }
    .about_me_line>li{
        display: flex;
        width: 280px;
        margin: 15px;
    }
    .skills{
        height: 1000px;
    }

    .item_container{
        width: 700px;
        justify-content: space-around;
    }
    .item{
        padding: 30px;
    }
}

@media screen and (min-width:768px) and (max-width: 1200px){
    .header{
        flex-direction: column;
        align-items: flex-start;
        background: white;
        /* border-bottom: none; */
    }
    .page_name{
        padding-left: 10px;
        color: black;
        position: relative;
    }
    .audio{
        position: absolute;
        left: 250px;
    }
    .audio_discription{
        color: black;
    }
    .nav{
        margin-top: -2.5px;
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background: white;
    }
    .nav>li{
        margin-left: 0px;
        border: none;
    }
    .nav_click{
        color: black;
    }
    .header.active{
        background-color: white;
        border: white;
        transition-duration: initial;
        transition-timing-function: initial;
        color: initial;
        /* -webkit-transition-duration:0.4s; */
        /* -webkit-transition-timing-function:ease; */
    }
      
    .header.deactive{
        background-color: white;
        transition-duration: initial;
        /* border-bottom: none; */
        transition-timing-function: initial;
        
        /* -webkit-transition-duration:0.4s; */
        /* -webkit-transition-timing-function:ease; */
    }
    .navbar_toggleBtn{
        display: block;
        color: black;
    }

    .navbar_toggleBtn>i{
        color: black;
    }

    .nav.active{
        display: flex;
        animation: fade-in 1s;
    }

    .about_me_line{
        width: 750px;
    }
    .skills{
        height: 1000px;
    }

    .item_container{
        width: 700px;
        justify-content: space-around;
    }
    .item{
        padding: 30px;
    }
}

