*{
    /* font-family: 'Noto Sans KR', sans-serif; */
    
    padding: 0px;
    margin: 0px;
    color: white;
    list-style: none;
    text-decoration: none;
    border-collapse: none;
    font-family: 'HSSaemaul-Regular';
    font-size: 25px;
    /* font-family: 'BMDOHYEON'; */

}

@font-face {
    font-family: 'HSSaemaul-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSSaemaul-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}

/* 공통사항 */

.intro_bg{
    background: skyblue;
    height: 580px;
    width: 100%;
    background-size: cover;
    background-image:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("images/main.jpg");
}

.header{
    width: 100%;
    align-items: center;
    text-align: center;
    /* margin: auto; */
    display: flex;
    /* background: red; */
    height: 80px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}



.header>div{
    /* background: black; */
    /* width: 300px; */
    line-height: 80px;
    flex: 1;
}

.header>div>h1>a:hover{
    cursor: pointer;
}

.header>div>h1>a{
    font-size: 35px;
    font-weight: lighter;
}

.nav{
    display: flex;
    width: calc(1280px - 300px);
    justify-content: flex-end;
    font-weight:600;
    /* background: green; */
    justify-content: left;
    flex: 1;
}

.nav>li{
    margin-left: 80px;
    /* line-height: 80px; */
    font-size: 25px;
    font-weight: lighter;
    /* background: pink; */
}
.nav>li:hover{
    border-bottom: 3px solid;
    cursor: pointer;
}

.active{
    background-color: white;
    border-bottom: 2px solid gray;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    color: black;
    -webkit-transition-duration:0.4s;
    -webkit-transition-timing-function:ease;
}
  
.deactive{
    background-color: transparent;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    
    -webkit-transition-duration:0.4s;
    -webkit-transition-timing-function:ease;
}
.active_Text{
    color: black;
}
/* 헤더끝 */

.intro_main{
    padding-top: 200px;
    margin: auto;
    /* margin: 100px auto 50px auto; */
    width: 1280px;
    /* background: green; */
    text-align: center;
    font-family: 'BMDOHYEON';

}

.intro_main>h1{
    font-family: 'BMDOHYEON';
    font-size: 50px;
}

.intro_description{
    /* background: pink; */
    width: 1280px;
    text-align: center;
    margin: auto;
}

/* 메인 끝 */

.about_me{
    width: 1080px;
    height: 550px;
    /* background: violet; */
    text-align: center;
    /* padding-top: 50px; */
    margin: auto;

}

.about_me_main{
    font-size: 90px;
    text-decoration:underline 2px;
    text-underline-offset: 20px;
    padding: 50px 0px 40px 0px;
    color: black;
}
.about_me_line{
    padding: 40px 0px 40px 100px;
}

.about_me_line1{
    display: flex;
    /* background: yellowgreen; */
    height: 80px;
}

.about_me_line1>li{
    flex: 1;
    display: flex;
    /* background: gray; */
}
.about_me_line2{
    display: flex;
    /* background: orange; */
    height: 80px;
    padding-top: 40px;
}
.about_me_line2>li{
    flex: 1;
    display: flex;
}

.about_me_img{
    width: 80px;
    height: 80px;
    object-fit: none; 
    /* background: blue; */
}

.about_me_img > img{
    width: 100%;
    height: 100%;
}


.about_me_text{
    /* background:black; */
    height: 80px;
    padding-left: 20px;
    text-align: left;
    line-height: 40px;
    color: black;
    font-weight:lighter;
}
.about_me_text>h3{
    color: black;
}
.about_me_text>.sub{
    line-height: 20px;
    color: black;
}

/* about_me 끝 */

.skills{
    width: 100%;
    height: 700px;
    background: #f9c51d;
}
.skills_main{
    padding-top: 50px;
    margin: auto;
    text-align: center;
    font-size: 90px;
    text-decoration:underline 2px;
    text-underline-offset: 20px;
}
.item_container{
    width: 1280px;
    display: flex;
    /* height: 300px; */
    margin: auto;
    padding-top: 80px;
    justify-content: space-between;
}

.item_container>div{
    width: 300px;
    /* background: blue; */
    /* height: 400px; */
}

.item{
    font-size: 30px;
    text-align: center;
}
.item >div{
    overflow: hidden;
    border-radius: 10%;
    background: skyblue;
    height: 100%;
    width: 100%;
}

.item_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.7s ease-in-out;
}
.item_img:hover{
    transform: scale(1.2);
}

/* skills 끝 */
.end_section{
    width: 100%;
    height: 200px;
    background: #bb9696;
    text-align: center;
}

.logo{
    display: flex;
    height: 50px;
    padding-top: 70px;
}
.logo>div{
    margin:auto;
    width: 1280px;
}

.logo>div>a>img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    padding-inline: 10px;
}

.logo>div>a:last-child>img{
    height: 45px;
    object-fit: cover;
}

.copyright{
    padding-top: 20px;
    font-weight: lighter;
}

.copyright > span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
